
*.vsidx
*.cache
Matriz-Riesgo-Politica/.vs/Matriz-Riesgo-Politica/FileContentIndex/53e72d26-dc9e-4b4f-8b09-6477e6f1e844.vsidx
Matriz-Riesgo-Politica/.vs/Matriz-Riesgo-Politica/FileContentIndex/5885cbfd-526b-493a-9591-8c05bbe5c60a.vsidx
Matriz-Riesgo-Politica/.vs/Matriz-Riesgo-Politica/FileContentIndex/6a0c3bec-c9af-4dfb-984d-cf677e916df7.vsidx
Matriz-Riesgo-Politica/.vs/Matriz-Riesgo-Politica/FileContentIndex/c7bfd1b4-7ee8-4f89-8e3d-d0384aa045da.vsidx
Matriz-Riesgo-Politica/.vs/Matriz-Riesgo-Politica/v17/.suo
Matriz-Riesgo-Politica/Matriz-Riesgo-Politica/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Matriz-Riesgo-Politica/Matriz-Riesgo-Politica/obj/Debug/Matriz-Riesgo-Politica.csproj.AssemblyReference.cache
